@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");
/* start_of_search_page */

body {
  font-family: "Catamaran", sans-serif;
  line-height: 1.6;
  color: var(--ternary-color);
  font-size: 1.2rem;
  font-weight: bold;
}

:root {
  --primary-color: #041434;
  --secondary-color: #f55b5c;
  --ternary-color: #ffffff;
  --light-color: #ffffff;
}

.search {
  width: 852px;
  margin: auto;
  padding: 16px;
}

.search p {
  padding: 0.3rem;

}
.wrapper {
  margin-top: 120px;
}

.search-container {
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.flex-container {
  background: var(--ternary-color);
  margin-top: 50px;
  height: 400px;
  padding: 10px;
  border-radius: 5px;
}

select {
  width: 200px;
  min-height: 40px;
  padding-left: 10px;
  margin: 0 8px 0 0;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 30px;
  color: var(--primary-color);
  background: var(--ternary-color);
}

.button {
  padding: 8px 16px;
  min-height: 40px;
  min-width: 10px;
  word-wrap: nowrap;
  background: #d7d2d1;
  color: #000;
  border: 1px solid #fff;
  border-radius: 5px;
}

select {
    order: 0;
    align-self: auto;
}

.search {
  flex: 2 1 auto;
}

.button {
    order: 4;
    flex: 0 1 auto;
    align-self: auto;
}

.button:hover {
  background-color: var(--secondary-color);
}

/* end_of_search_page */