<!DOCTYPE html>
<html>

<head>
	<script language="javascript" type="text/javascript" src="../static/front_end.js"></script>
    <link rel="stylesheet" href="../static/css/hero_intro_block.css">
    <link rel="stylesheet" href="../static/css/search_block.css">
    <link rel="stylesheet" href="../static/css/moment_block.css">
</head>

<!-- nav bar -->
<nav class="navbar">
    <div class="container">
      <p class="logo">
        <span>MOOC Corpus Analysis : </span>
        <span class="coral"> MIT OpenCourseWare</span>
      </p>
      <ul class="nav">
        <li><a href="index.html">About</a></li>
        <li><a href="search-by-title.html">Search by Title</a></li>
        <li><a href="search-by-author.html" class='active-page'>Search by Author</a></li>
        <li><a href="statistics.html">Statistics</a></li>
      </ul>
  </div>
  </nav>
<!-- nav bar -->


<!--  search -->
<div class="search">
    <form name='search-form' id='form'>
      <div class="wrapper">
        <h1>Search by Author</h1>
		
        <div class="search-container">
		
            <select name="topicselection">
              {% for topic in topic_options %}
                  <option value="{{ topic }}">{{ topic }}</option>
              {% endfor %}
            </select>
          <select name="formatselection">
			  <option value="All">All</option>
            <option value="Book">Book</option>
            <option value="Paper">Academic Paper</option>
          </select>
          <select name="includeselection">
            <option value="All">All</option>
            <option value="Required">Required</option>
            <option value="Optional">Optional</option>
          </select>
          <button id='searchbtn' type="button" onclick="search_by_author()" class="button">Search</button>
        </div>
      </div>
    </form>
        <div id="flex-container" class="flex-container">

        </div>
</div>
    
<!--  search -->



</html>
